{% if projects %}
<br>
<div class="row">
    {% for project in projects %}
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="text-center">{{project.title}}</h5>
                <a href="{% url 'specificproject' project.id %}">
                    <img src="{{project.project_image.url}}" class="card-img img-responsive hovercard"
                        style="max-width: 600px; max-height: 500px; padding: 13px;border-radius: 30px;">
                </a>
                <span class="text-center">Posted by<span style="font-weight: 900;"> {{project.user.username}}</span></span>
            </div>
            <div class="card-footer text-muted">
                <span class="text-center">{{project.description}}</span>
                <br><br>
                <a href='{{project.live_link}}' style="font-weight:900">Live Link</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<br>
{% else %}
<p class="text-center">Sorry there are no recent projects</p>
{% endif %}